<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <video src="./elements/login-video.mp4" autoplay muted loop  preload="auto"></video>
    <img  id="logo" src="./elements/logo1.jpeg" alt="">
    <div class="login-container">
        <h1>Login</h1>
        <% if (typeof message !== 'undefined' && message) { %>
            <div class="alert <%= alertType === 'success' ? 'alert-success' : 'alert-error' %>">
                <%= message %>
            </div>
        <% } %>
        <form action="/login" method="POST">
            <div class="form-group">
                <i  id="user-icon" class="fa-regular fa-user"></i>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <i id="user-key"  class="fa-solid fa-lock"></i>
                <input type="password" id="password" name="password" required>
            </div>

            <button  type="submit" >Go<i id="arrow-right" class="fa-solid fa-arrow-right"></i></button>

        </form>
        <div class="signup-link"><h4>Don't have an account?</h4><a href="/signup">Sign up</a>
        </div>
    </div>
</body>
</html>
